In [29]:
import pandas as pd

import time

In [2]:
pwd

'/Users/hanhyeseung/hshan/basic_work/0_data/3_pandas_dataframe'

In [8]:
raw_data = pd.read_csv('/Users/hanhyeseung/hshan/basic_work/0_data/data/arizona_pv_data.csv')
raw_data.set_index('dt', inplace=True)
raw_data.rename(columns={'Power(MW)':'pv_power'}, inplace=True)

In [9]:
raw_data.head()

                           pv_power  plant_id
dt
2006-01-01 00:00:00+09:00       0.0         1
2006-01-01 01:00:00+09:00       0.0         1
2006-01-01 02:00:00+09:00       0.0         1
2006-01-01 03:00:00+09:00       0.0         1
2006-01-01 04:00:00+09:00       0.0         1

## A. id를 column 이름으로 하는 dataframe 만들기

### 방법 1) for문으로 만들기

In [11]:
pv_data = raw_data.copy()

In [30]:
start_time = time.time()
pv_data_1 = pd.DataFrame()
for i in pv_data['plant_id'].unique():

    data = pv_data[pv_data['plant_id'] == i]
    pv_data_1['{}'.format(i)] = data['pv_power']
    
print('Elapsed Time: ', time.time()-start_time)

Elapsed Time:  0.503209114074707

In [31]:
pv_data_1.head()

,1,2,3,4,5,6,7,8,9,10,...,162,163,164,165,166,167,168,169,170,171
dt,,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 01:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 02:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 03:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 04:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### groupby로 만들기

In [32]:
start_time = time.time()
pv_data_2 = pv_data.groupby('plant_id').apply(lambda x: x.pv_power).T

print('Elapsed Time: ', time.time()-start_time)

Elapsed Time:  0.5157248973846436

In [33]:
pv_data_2.head()

plant_id,1,2,3,4,5,6,7,8,9,10,...,162,163,164,165,166,167,168,169,170,171
dt,,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 01:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 02:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 03:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006-01-01 04:00:00+09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0